.bannerDiv {
  position: relative;
}
.myBanner {
  width: 100%;
}
.titleName {
    position: absolute;
    bottom: 0px;
    right: 150px;
    font-family: cursive;
    font-weight: 600;
}
.salesImg{
    width: 100%;
}
