.bg_color{
    background-color: black;
    color: white;
           a{
            text-decoration: none;
            color: white;
        }
    .remove_style{
        list-style: none;
        padding: 0;
 
    }
    pre {
    white-space: nowrap;
}

}