.css-s97c5p-MuiTableCell-root {
  text-align: start !important;
}
.css-1bhpkcd-MuiTableCell-root {
  text-align: start !important;
}
.saleImage {
  position: relative;
  width: 100%;
}
thead {
  th {
    background-color: #777777 !important;
  }
}
.banner{
  position: relative;
.AddBtn{
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 0;
  background-color: green;
  color: white;
}
}

.btn{
background-color: red;
}
.css-1fw5qro-MuiPaper-root{
    border-radius: 0% !important;
}
.css-1d6wzja-MuiButton-startIcon{
margin-right: 0 !important;
}